body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/********************navbar****************/
nav {
  background-color: brown;
  color: white;
}
nav h1 {
  font-size: 1.8rem !important;
}
nav a {
  font-size: 1.2rem;
}

/****************contact us***************/

#contact-img {
  width: 100vw;
  height: 350px;
}
#contact-img img {
  width: 100%;
  height: 100%;
}

#contact-img::after {
  content: "";
  position: absolute;
  width: 100vw;
  height: 350px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.55);
}
#contact-img .text {
  position: absolute;
  z-index: 4;
  color: white;
  top: 28%;
  left: 35%;
}
.text p {
  font-size: 1.3rem;
}

#contact-form {
  width: 100%;
  height: 260px;
  display: grid;
  grid-template-areas:
    "name  message message"
    "phone message message"
    "email message message";
  grid-gap: 30px;
}
#contact-about {
  height: 260px;
}
input {
  width: 100%;
}
.name {
  grid-area: name;
}
.phone {
  grid-area: phone;
}
.email {
  grid-area: email;
}
#contact-message {
  grid-area: message;
}
#contact-message input {
  height: 260px;
}
#submit-btn {
  width: 120px;
  padding: 10px;
  font-size: 1rem;
  background-color: brown;
  color: white;
  font-weight: bold;
  border: none;
}
#submit-btn:hover {
  background: transparent;
  border: 2px solid brown;
  color: brown;
}

/****************gallery***************/

h1 {
  text-align: center;
}

.container-gal {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 100px 300px;
  grid-gap: 20px;
  grid-auto-flow: dense;
  margin: 50px;
}

.gallery-item {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
}

.gallery-item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.gallery-item:hover .image img {
  transform: scale(1.5);
}

.w-1 {
  grid-column: span 1;
}
.w-2 {
  grid-column: span 2;
}
.w-3 {
  grid-column: span 3;
}
.w-4 {
  grid-column: span 4;
}
.w-5 {
  grid-column: span 5;
}
.w-6 {
  grid-column: span 6;
}

.h-1 {
  grid-row: span 1;
}
.h-2 {
  grid-row: span 2;
}
.h-3 {
  grid-row: span 3;
}
.h-4 {
  grid-row: span 4;
}
.h-5 {
  grid-row: span 5;
}
.h-6 {
  grid-row: span 6;
}
img.mfp-img {
  width: 900px !important;
  height: 100% !important;
}
@media screen and (max-width: 500px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
  .w-1,
  .w-2,
  .w-3,
  .w-4,
  .w-5,
  .w-6 {
    grid-column: span 1;
  }
  img.mfp-img {
    width: 100% !important;
    height: 100% !important;
  }
}

/****************footer*******************/

footer {
  width: 100%;
  height: 300px;
  color: white;
  background-color: brown;
  float: inline-end;
}
footer > div {
  width: 50%;
  display: flex;
  margin-left: 6rem;
  justify-content: center;
  flex-direction: column;
}

span i {
  font-size: 1.7rem;
}
